@import "bower_components/bootstrap/less/variables.less";
@import "fancybox.less";
@import "agency.less";

.btn-fidv {
    color: #fff;
    background-color: #757984;
    border-color: #757984;

    &:hover {
        background-color: #fff !important;
    }
}

.header__gradient {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.navbar-brand {
    padding-top: 8px;
    padding-bottom: 7px;

    img {
        width: 65px;
    }
}

.navbar-nav > li > a {
    padding-top: (@grid-gutter-width / 2);
    padding-bottom: (@grid-gutter-width / 2);
    margin-top: (@grid-gutter-width / 2);
    margin-bottom: (@grid-gutter-width / 2);
}

section:nth-child(2n-1) {
    .bg-light-gray;
}

.share {
    padding-top: @grid-gutter-width;
    padding-bottom: @grid-gutter-width;

    ul.social-buttons {
        li {
            a {
                background: #7a7a7a;

                &:hover {
                    background: @brand-primary;
                }
            }
        }
    }
}

.more-info {
    padding-top: @grid-gutter-width;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

footer {
    background: #ccc;
}

@media(max-width: @screen-sm) {
    body.donate {
        padding-top: 80px;
    }

    section {
        padding: 50px 0;
    }

    .BBFormTitle,
    section h2.section-heading {
        font-size: 30px !important;
    }
}

.gallery {
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;

    &__photo {
        flex-basis: 50%;
        padding-right: 10px;
        padding-top: 10px;

        @media(min-width: @screen-sm) {
            flex-basis: 20%;
        }
    }
}

#BBPanelHeading {
    display: none;
}

.sponsor-logos {
    &__logo + &__logo {
        margin-top: 25px;
    }
}

.sponsor-logos + .sponsor-names {
    margin-top: 25px;
}

.about-video {
    padding-top: 25px;
}

.coming-soon {
    padding: 60px;
    background: #e4e4e4;
    border: 5px solid #3161dd;
}

.sponsorship-tier {
    &__title {
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
    }

    &__box {
        padding: 40px 25px;
        margin-bottom: 10px;
        text-align: center;
        border: 1px solid #000;

        @media(min-width: @screen-md) {
            margin-bottom: 0px;
        }

        &--friends {
            background: #fff;
        }

        &--gold {
            background: #cfc99c;
        }

        &--platinum {
            background: #bebebe;
        }

        &--diamond {
            background: #818181;
            color: #fff;
        }

        &--guardian {
            background: #585858;
            color: #fff;
        }
    }

    &__info {
        margin-bottom: 0;
    }
}

.sponsorship-tier + .sponsorship-tier {
    border-top: 2px solid #bb1a19;
    margin-top: 25px;
    padding-top: 25px;
}
