<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

    <title>FIDV Young Leaders</title>
    <meta name="description" content="Annual Winter Gala presented by the FIDV Young Leadership Board" />

    <meta property="og:title" content="Tickets: FIDV Young Leaders Winter Gala" />
    <meta property="og:site_name" content="Tickets: FIDV Young Leaders Winter Gala"/>
    <meta property="og:url" content="https://fidv.org/youngleaders/" />
    <meta property="og:description" content="4th annual winter gala celebrating Israel at 70 presented by the FIDV Young Leadership Board" />
    <meta property="og:image" content="https://fidv.org/youngleaders/img/fidv-share-image.jpg" />

    <link rel="canonical" href="https://fidv.org/youngleaders/" />

    <link rel="shortcut icon" href="https://fidv.org/youngleaders/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="./build/1.0.0/css/style.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/youngleaders">
                    <img alt="Brand" src="img/logos/fidv-logo.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#buy-tickets">Tickets</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#past-event-2">Past Events</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#leadership">Leadership</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://fidv.org/youngleaders/become-a-sponsor">Become a Sponsor</a>
                    </li>
                    <li>
                        <a class="btn btn-fidv" href="https://fidv.org/youngleaders/donate" style="border:none;">Donate</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="header__gradient"></div>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">FIDV Young Leaders</div>
                <div class="intro-heading">4th Annual Winter Gala</div>
                <div class="intro-lead-in intro-lead-in--celebrating">Celebrating Israel at 70</div>
                <a href="#buy-tickets" class="page-scroll btn btn-xl">Buy Tickets</a>
                <div class="share">
                    <ul class="list-inline social-buttons">
                        <li>
                            <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Ffidv.org%2Fyoungleaders%2F&layout=button&size=large&mobile_iframe=true&appId=778387892228096&width=73&height=28" width="73" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section id="buy-tickets">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="section-heading">Buy Tickets</h2>
                    <p>Come join us for a night of dancing and live music at The Lighthouse at Chelsea Piers! Open bar, sushi and dessert served all night!</p>
                    <p>100% of the proceeds benefit Israel's wounded soldiers and victims of terror.</p>
                </div>
                <div class="col-xs-12 col-md-8">

                    <div class="more-info">
                        <div id="bbox-root"></div>

                        <script type="text/javascript">

                               window.bboxInit = function () {

                                   bbox.showForm('0f9c4915-0223-4c5d-ad27-d7180aa0413c');

                               };

                               (function () {

                                   var e = document.createElement('script'); e.async = true;

                                   e.src = 'https://bbox.blackbaudhosting.com/webforms/bbox-min.js';

                                   document.getElementsByTagName('head')[0].appendChild(e);

                               } ());

                        </script>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="more-info">
                        <h4 class="section-heading">Event Info</h2>
                        <p>
                            <strong>Date:</strong> Saturday, March 10, 2018<br>
                            <strong>Time:</strong> 9:30pm - 2:30am<br>
                            <strong>Location:</strong> The Lighthouse @ Chelsea Piers<br>
                            <strong>Attire:</strong> Cocktail Attire<br>
                        </p>

                        <br>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.649880937922!2d-74.01262368423055!3d40.74772897932803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259c7bc5a5be5%3A0x7eb3ed84c42c3ed6!2sThe+Lighthouse!5e0!3m2!1sen!2sus!4v1514937571010" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>


                        <br>
                        <br>

                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="section-heading">Thank you to our sponsors!</h2>
                                <div class="sponsor-logos">
                                    <div class="sponsor-logos__logo">
                                        <a href="https://www.berkadia.com/" target="_blank">
                                            <img class="img-responsive" src="img/sponsors/berkadia.jpg">
                                        </a>
                                    </div>
                                    <div class="sponsor-logos__logo">
                                        <a href="https://label.co/" target="_blank">
                                            <img class="img-responsive" src="img/sponsors/label.jpg">
                                        </a>
                                    </div>
                                    <div class="sponsor-logos__logo">
                                        <a href="http://www.outerstuff.com/" target="_blank">
                                            <img class="img-responsive" src="img/sponsors/outer.jpg">
                                        </a>
                                    </div>
                                    <div class="sponsor-logos__logo">
                                        <a href="https://www.schwartz-cpas.com/" target="_blank">
                                            <img class="img-responsive" src="img/sponsors/schwartz.jpg">
                                        </a>
                                    </div>
                                </div>
                                <div class="sponsor-names">
                                    <ul>
                                        <li><p>The Markowitz and Shmuely Families</p></li>
                                        <li><p>The Leichtling Family</p></li>
                                        <li><p>The Dezer Family</p></li>
                                        <li><p>The Fogel Family</p></li>
                                        <li><p>Dr. Meir Greenberg and Family</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">About FIDV</h2>
                    <p>The mission of FIDV-Beit Halochem (House of the Warriors) is to care for Israeli servicemen and women wounded in the line of duty who are now disabled. At our state-of-the-art rehabilitation centers in Tel Aviv, Haifa, Jerusalem and Beer Sheva we serve more than 51,000 disabled veterans and family members. We raise awareness and funds for a broad range of social, cultural and sports training programs, offer scholarships, develop new initiatives, and provide specialized equipment for the centers. We help empower them to rebuild their lives.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 about-video">
                    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/GodYwnCH-SE' frameborder='0' allowfullscreen></iframe></div>
                </div>
                <div class="col-sm-6 about-video">
                    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/-1ZrQK_nXe8' frameborder='0' allowfullscreen></iframe></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center" style="padding-top: 25px;">About Your Donation</h2>
                    <p>100% of the proceeds from the Winter Gala benefit the Young Disabled Veterans Program. The main objective is to help disabled veterans resume normal life. This is done by providing a framework that offers not only medical treatment but also social support and integration.</p>
                    <p>The ZDVO Young Members Club offers support and encouragement to its members aged 18-35 by offering them a variety of programs suitable to their particular needs and interests. Regular events such as stand-up comedians, live music performances, jeep rides, paintball outings and extreme sports including rappelling and rock climbing are examples of these programs tailored especially for the benefit of the young veterans. Bringing together the young veterans from all parts of the country creates a bond and camaraderie so vital to their rehabilitation.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="past-event-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Past Events</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="gallery">
                        <div class="gallery__photo">
                            <a href="img/gala-images/gala1.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/gala1.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/gala2.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/gala2.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/gala3.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/gala3.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/gala4.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/gala4.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/gala5.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/gala5.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-1.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-1.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-2.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-2.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-3.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-3.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-4.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-4.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-5.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-5.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-6.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-6.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-7.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-7.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-8.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-8.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-9.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-9.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-10.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-10.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-11.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-11.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-12.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-12.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-13.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-13.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-14.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-14.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-15.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-15.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-16.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-16.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-17.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-17.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-18.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-18.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-19.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-19.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="gallery__photo">
                            <a href="img/gala-images/fidv-20.jpg" class="fancybox" rel="gallery">
                                <img src="img/gala-images/thumbs/fidv-20.jpg" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="leadership">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">Leadership</h2>
                    <br>
                    <h4 class="text-center">Board Chairs</h4>
                    <div class="text-center">
                        <p>Michael Shmuely &amp; Jacob Kent</p>
                        <br>
                    </div>
                    <h4 class="text-center">Board Members</h4>
                    <ul class="list-inline text-center">
                        <li>Abigail Major</li>
                        <li>Andrew Farage</li>
                        <li>Ari Papir</li>
                        <li>Ariel Zuckerman</li>
                        <li>Ben Davis</li>
                        <li>Dana Himoff</li>
                        <li>Dana Eisenberg</li>
                        <li>Daniella Pomeranc</li>
                        <li>Danielle Markowitz</li>
                        <li>David Weiss</li>
                        <li>Deanna Meyer</li>
                        <li>Eitan Reshef</li>
                        <li>Eliesse Lissner</li>
                        <li>Gabriella Zahn-Bielski</li>
                        <li>Gideon Drucker</li>
                        <li>Hallie Geller</li>
                        <li>Howard Mizel</li>
                        <li>Jake Pereg</li>
                        <li>Jessica Brezel</li>
                        <li>Jillian Rothman</li>
                        <li>Jonathan Fine</li>
                        <li>Jordan Schwitzer</li>
                        <li>Justin Bell</li>
                        <li>Lana Meyer</li>
                        <li>Leat Ruben</li>
                        <li>Matthew Coleman</li>
                        <li>Max Gladstone</li>
                        <li>Madelaine Ellberger</li>
                        <li>Molly Lukash</li>
                        <li>Michael Sheffy</li>
                        <li>Marc Squire</li>
                        <li>Racine Levy</li>
                        <li>Raquel Moffson</li>
                        <li>Rebecca Basloe</li>
                        <li>Romy Golan</li>
                    </ul>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 join-fidv text-center">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdrpyMKJCX3hJy_ZnA7EK6qM2whEEEdzM2O2EBKSsx959lfDQ/viewform?usp=sf_link" target="_blank" class="btn btn-primary btn-xl">Join the Board</a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; <a href="https://fidv.org" target="_blank">fidv.org</a> 2018</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.facebook.com/FIDVYL" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/fidv_youngleaders/" target="_blank"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="http://fidv.org/privacy-policy/" target="_blank">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="./build/1.0.0/js/youngleaders.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-69802094-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
