<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FIDV Young Leaders</title>
    <meta name="description" content="Annual Winter Gala presented by the FIDV Young Leadership Board" />

    <meta property="og:title" content="Friends of Israeli Disabled Veterans Young Leaders" />
    <meta property="og:site_name" content="Friends of Israeli Disabled Veterans Young Leaders"/>
    <meta property="og:url" content="https://fidv.org/youngleaders/" />
    <meta property="og:description" content="Annual Winter Gala presented by the FIDV Young Leadership Board" />
    <meta property="og:image" content="https://fidv.org/youngleaders/img/fidv-share-image.png" />

    <link rel="canonical" href="https://fidv.org/youngleaders/" />

    <link rel="stylesheet" type="text/css" href="./build/1.0.0/css/style.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/youngleaders">
                    <img alt="Brand" src="img/logos/fidv-logo.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#buy-tickets">Tickets</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sponsors">Sponsors</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="btn btn-primary" href="https://fidv.org/donations" target="_blank" style="border:none;">Donate</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="header__gradient"></div>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">FIDV Young Leaders</div>
                <div class="intro-heading">Winter Gala</div>
                <a href="#buy-tickets" class="page-scroll btn btn-xl">Buy Tickets</a>
                <div class="share">
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=fidv.org/youngleaders" class="social-buttons__facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="social-buttons__twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="buy-tickets">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FIDV Winter Gala Tickets</h2>
                    <h3 class="section-subheading text-muted">January 21, 2015 @ <a href="https://www.google.com/maps/place/Tribeca+Rooftop+(Apogee+Events)/@40.7234427,-74.0083491,15z/data=!4m2!3m1!1s0x0:0x445fa1c6e4aa5a38" target="_blank">TriBeCa Rooftop</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div id="bbox-root"></div>
                    <script type="text/javascript">
                           window.bboxInit = function () {
                               bbox.showForm('e21f71a4-8bce-4bcd-953c-a0c638129b57');
                           };
                           (function () {
                               var e = document.createElement('script'); e.async = true;
                               e.src = 'https://bbox.blackbaudhosting.com/webforms/bbox-min.js';
                               document.getElementsByTagName('head')[0].appendChild(e);
                           } ());
                    </script>
                    <div class="more-info">
                        <p>Though it's been over one year since Operation Protective Edge, the lives of thousands of soldiers wounded in battle have changed forever. They have been seriously injured, and now they face a daily struggle with the difficult rehabilitation process, which for many will be a life-long battle.</p>

                        <p>Please join us as we honor these brave soldiers on <strong>Thursday, January 21st at TriBeCa Rooftop</strong>, for the 2nd Annual Winter Gala presented by the FIDV Young Leadership Board. It will be a night to celebrate life, while also honoring the sacrifices made by the brave soldiers – young and old – who have defended the homeland of Israel for us all.</p>

                        <p>At our Beit Halochem rehabilitation centers in Jerusalem, Tel Aviv, Haifa, and Be’er Sheva, we provide a broad range of personalized services and therapies for more than 51,000 disabled veterans and terror victims. The Beit Halochem centers offer a healing community of those who have "been there." They help each other meet and overcome the challenges of disability, on the social, physical and psychological levels. FIDV-Beit Halochem does it all!</p>
                    </div>
                    <div class="more-info">
                        <p class="section-subheading text-muted">For more information please contact:</p>
                        <h4>Ella Levine</h4>
                        <p>212-689 3220<br><a href="mailto:elevine@fidv.org">elevine@fidv.org</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12095.013987948734!2d-74.0083491!3d40.7234427!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x445fa1c6e4aa5a38!2sTribeca+Rooftop+(Apogee+Events)!5e0!3m2!1sen!2sus!4v1446927164753" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <h3>FIDV Winter Gala</h3>
                    <address>
                        <strong>TriBeCa Rooftop</strong><br>
                        2 Desbrosses St.<br>
                        New York, NY 10013<br>
                    </address>

                    <div class="row board">
                        <div class="col-xs-12">
                            <a class="fancybox" href="img/winter_gala_invite.jpg">
                                <img src="img/winter_gala_invite-small.jpg" alt="" class="img-responsive center-block"/>
                            </a>
                        </div>

                        <!-- <div class="col-xs-12">
                            <h3>Young Leadership Board</h3>
                            <p class="text-center"><strong>Chairs</strong></p>
                        </div>
                        <div class="col-xs-6">
                            <p class="text-center">
                                Michael Shmuely
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <p class="text-center">
                                Jacob Kent
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <p class="text-center"><strong>Board</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et hendrerit ante, id convallis diam. In metus justo, posuere sed dapibus vitae, congue ac elit. Integer massa purus, dignissim sed urna vehicula, pretium varius tellus. Nunc aliquam, arcu eu bibendum dictum, ante turpis aliquet orci, nec sodales erat sapien eu turpis. Maecenas suscipit auctor nulla, in efficitur massa congue eget. Nunc dictum magna id tortor mattis, nec pharetra ante imperdiet. Fusce accumsan ullamcorper mollis. Praesent auctor finibus venenatis. Sed ac quam iaculis, congue lorem et, consequat risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut volutpat odio et pharetra maximus.</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">About FIDV</h2>
                    <p>The men and women of the Israel Defense Forces serve their country with courage. The debt of gratitude the jewish world owes them is inestimable. As well, we owe much to the courageous Israelis who, by living in Israel, secure this tiny land for all Jews.</p>

                    <p>Friends of Israel Disabled Veterans (FIDV) and Beit Halochem are committed to caring for Israeli servicemen and women disabled in the line of duty. Beit Halochem centers provide therapeutic, sports and recreational facilities to help them resume lives of purpose and dignity.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; <a href="https://fidv.org" target="_blank">fidv.org</a> 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.facebook.com/FIDVYL" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/fidv_youngleaders/" target="_blank"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="http://fidv.org/privacy-policy/" target="_blank">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="./build/1.0.0/js/youngleaders.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-69802094-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
